KALSHI_API_KEY_ID=

# Option 1: Path to your private key PEM file
#KALSHI_PRIVATE_KEY_PATH=path/to/your/private_key.pem

# Option 2: Paste the private key directly (use quotes, include newlines as \n)
KALSHI_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----
-----END RSA PRIVATE KEY-----
"

